@font-face {
  font-family: "iconfont"; /* Project id 3264922 */
  src: url('//at.alicdn.com/t/font_3264922_r3sy59rzwy.woff2?t=1651068650678') format('woff2'),
       url('//at.alicdn.com/t/font_3264922_r3sy59rzwy.woff?t=1651068650678') format('woff'),
       url('//at.alicdn.com/t/font_3264922_r3sy59rzwy.ttf?t=1651068650678') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-daishouhuo:before {
  content: "\e60b";
}

.icon-daipingjia:before {
  content: "\e601";
}

.icon-shouhou:before {
  content: "\e609";
}

.icon-daifukuan:before {
  content: "\e60a";
}

.icon-eye-open:before {
  content: "\e78f";
}

.icon-eye-closed:before {
  content: "\e604";
}

.icon-fanhui:before {
  content: "\e60f";
}

.icon-checked:before {
  content: "\e608";
}

.icon-unchecked:before {
  content: "\e63a";
}

.icon-baozhang:before {
  content: "\e607";
}

.icon-add:before {
  content: "\e6df";
}

.icon-kefu:before {
  content: "\e60d";
}

.icon-jiangxu:before {
  content: "\e6a1";
}

.icon-shengxu:before {
  content: "\e6a2";
}

.icon-shangsheng:before {
  content: "\e616";
}

.icon-xiajiang:before {
  content: "\e632";
}

.icon-shandian:before {
  content: "\e639";
}

.icon-money:before {
  content: "\e610";
}

.icon-shop:before {
  content: "\e811";
}

.icon-package:before {
  content: "\e618";
}

.icon-history:before {
  content: "\e621";
}

.icon-collection:before {
  content: "\e8b9";
}

.icon-like-fill:before {
  content: "\e668";
}

.icon-cart:before {
  content: "\e68d";
}

.icon-collection-fill:before {
  content: "\e6ea";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-member:before {
  content: "\e787";
}

.icon-phone:before {
  content: "\e9ef";
}

.icon-yanzhengma:before {
  content: "\e65a";
}

.icon-password:before {
  content: "\e638";
}

.icon-gitee-login:before {
  content: "\e677";
}

.icon-wx-login:before {
  content: "\e66c";
}

.icon-zfb-login:before {
  content: "\e65f";
}

.icon-qq-login:before {
  content: "\e62e";
}

.icon-zfb-pay:before {
  content: "\e654";
}

.icon-wx-pay:before {
  content: "\e662";
}
