@font-face {
	font-family: 'iconfont'; /* Project id 3264922 */
	src: url('//at.alicdn.com/t/font_3264922_y0nx00goq3g.woff2?t=1647879888402') format('woff2'),
		url('//at.alicdn.com/t/font_3264922_y0nx00goq3g.woff?t=1647879888402') format('woff'),
		url('//at.alicdn.com/t/font_3264922_y0nx00goq3g.ttf?t=1647879888402') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-member:before {
	content: '\e787';
}

.icon-phone:before {
	content: '\e9ef';
}

.icon-yanzhengma:before {
	content: '\e65a';
}

.icon-password:before {
	content: '\e638';
}

.icon-gitee-login:before {
	content: '\e677';
}

.icon-wx-login:before {
	content: '\e66c';
}

.icon-zfb-login:before {
	content: '\e65f';
}

.icon-qq-login:before {
	content: '\e62e';
}

.icon-zfb-pay:before {
	content: '\e654';
}

.icon-wx-pay:before {
	content: '\e662';
}
